.title {
  margin-top: 24px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 28px;
}

button {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: #e2000f;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
